{% extends 'base.html.twig' %}

{% block body %}
  <article>
    <h1><span>About M.I.A</h1>

    <p> Originally from Connecticut, BIA owner Craig Carlson first came to France as a student and instantly fell in love with the country.  It was in Paris — thanks to the numerous art house cinemas — that Craig developed his love for film and decided to pursue it as a career.  After attending USC film school in Los Angeles, Craig worked as a screenwriter and short filmmaker before landing a job in Paris working on a TV show.  During this time, the only thing Craig missed in the City of Light was a good ol’ American breakfast. Craig became convinced that the time was right for an authentic American diner in Paris!
    </p>
    <p>The first BIA opened its doors in January 2003 followed by BIA 2 in 2006.  Thanks to his friends in the Hollywood film industry who came on board as investors, Craig was able to bring together two of his loves under one roof:  the cinema and diners. You can read all about the BIA story in a new book written by Craig called Pancakes in Paris: Living the American Dream in France, now a New York Times best seller. Signed copies of Craig’s book are available at both BIA 1 and BIA 2.</p>
  </article>


{% endblock %}
