{% extends 'base.html.twig' %}

{% block body %}
    <table class="generic-table">
      <caption><h1>Mon panier</h1></caption>
        <thead>
          <tr>
              <th></th>
              <th></th>
              <th>Tarif</th>
              <th>Quantité</th>
              <th>Total</th>
          </tr>
      </thead>
      <tbody>
        {% for carte in cartes %}
            <tr>
                <td class="product_title">{{ carte.nom }}</td>
                <td><img src="{{ asset('bundles/app/images/meals/'~carte.image)}}" alt="menu"></td>
                <td><p style="width:2.5em;">{{ carte.prix }} €</p></td>
                <td><input type="number" placeholder="1" step="1" min="0" max="10" class="button_numb"></td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
